body {
	margin: 0%;
	background-color: #B6C3CF;
}

/* Header styling */
#header {
	margin-top: 0%;
	position: fixed;
	top: 0%;
	width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD:stylesheet.css
	min-width: 55em;
	background-color: #2C2C2C;
	border-radius: 7px;
	z-index: 1;
}

#header-text {
	font-family: 'Montserrat', sans-serif;
	line-height: 80%; 
	color: #F0F0F0;
	text-align: center;
=======
=======
>>>>>>> origin/gh-pages
	color: #F0F0F0;
	background-color: #2C2C2C;
	border-radius: 7px;
	z-index: 1;
<<<<<<< HEAD
>>>>>>> origin/gh-pages:Stylesheet.css
=======
>>>>>>> origin/gh-pages
}

#header-text h1 {
	font-size: 3em;
	line-height: 25%
}

#profile {
	position: absolute;
	float: left;
	padding: 5px;
	margin-left: 30px;
}

#profile img {
	width: 120px;
	border-radius: 50%;
}
/* End header styling */
/*Begin content styling */

.content {
	width: 750px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 1em;
	padding-right: 1em;
<<<<<<< HEAD
<<<<<<< HEAD:stylesheet.css
	padding-top: .33em;
	margin: 132px auto 0px;
=======
	padding-top: .5em;
	margin: 113px auto 0px;
>>>>>>> origin/gh-pages:Stylesheet.css
=======
	padding-top: .5em;
	margin: 113px auto 0px;
>>>>>>> origin/gh-pages
	background-color: #F0F0F0;
	border-radius: 7px;
}

#personal-statement {
	text-align: center;
}

.content {
	line-height: 0.5em;
}

.content li {
	line-height: 1.33em;
}

.date {
	float: right;
}

/* Looking up image */
#floor img {
<<<<<<< HEAD
<<<<<<< HEAD:stylesheet.css
	width: 100%;
=======
>>>>>>> origin/gh-pages:Stylesheet.css
=======
>>>>>>> origin/gh-pages
	border: 2px;
	border-style: solid;
	border-color: #474747;
	border-radius: 7px;
}
