body {
	margin: 0%;
	background-color: #B6C3CF;
}

#header {
	margin-top: 0%;
	font-family: 'Montserrat', sans-serif;
	line-height: 80%;
	text-align: center;
	position: fixed;
	top: 0%;
	width: 100%;
	color: #F0F0F0;
	background-color: #2C2C2C;
	border-radius: 7px;
	z-index: 1;
}

#header hr {
	margin-bottom: 0%;
}

.content {
	width: 750px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .5em;
	margin: 113px auto 0px;
	background-color: #F0F0F0;
	border-radius: 7px;
}

#personal-statement {
	text-align: center;
}

.content {
	line-height: 0.5em;
}

.content li {
	line-height: 1.33em;
}

.date {
	float: right;
}

#floor img {
	border: 2px;
	border-style: solid;
	border-color: #474747;
	border-radius: 7px;
}
